@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/InchaLogo.png" style="width:12em;height:4em" />
    <div>
        <i>Uma Business Appliction desenvolvida para testar os microservices</i>
    </div>
</div>
