@page "/SetBearerToken"
@model BusinessProject.Pages.SetBearerTokenModel
@{
}

<form method="post">
    
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Introduza o token</label>
        <textarea class="form-control" name="token" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div> 
    <input type="submit" value="Enviar" />
</form>
